.filter-dropdown {
    width: 200px;
    display: flex;
    align-items: center;
}

::ng-deep .filter-dropdown .ng-select-container {
    border: none;
    height: 30px;
    font-size: 16px;
    font-weight: 400
}

::ng-deep .filter-dropdown.ng-select-focused .ng-select-container {
    border: none;
    box-shadow: none;
}

.list-table {
    border: none;
}

.table-wrapper {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

thead {
    border-bottom: 2px solid #E6E9F4;
}

tr {
    border-bottom: 1px solid #E6E9F4;
}

.table-container {
    padding: 10px 30px;
}

.list-table td {
    font-size: 14px;
    color: #131523;
}

.list-table th {
    font-size: 14px;
    color: #5A607F;
    font-weight: 500;
}

.head-section {
    display: flex;
    padding: 20px 24px;
    border: none;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.right {
    display: flex;
}

.btn-common {
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
    padding: 5px 10px;
    height: 40px;
}

.border-btn {
    border: 1px solid #D7DBEC;
    background-color: white;
    color: #1E5EFF;
}

.add-btn {
    background-color: #1E5EFF;
    border: 1px solid #1E5EFF;
    height: 40px;
    color: white;
}

.table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
}

.input-group-text {
    background-color: white;
    border-right: none;
}

.form-control.search {
    border-left: none;
}

.input-group-text i {
    color: #979797
}

.search::placeholder {
    color: #A1A7C4;
}

.badge {
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}

.critical {
    background-color: #F8D7DA;
    color: #7F1D1D;
}

.medium {
    background-color: #FEF08A;
    color: #854D0E;
}

.high {
    background-color: #F3E8FF;
    color: #6B21A8;
}

.low {
    background-color: #D1FAE5;
    color: #065F46;
}

.open {
    background-color: #3B82F6;
    color: #ffffff;
}

.in-progress {
    background-color: #F59E0B;
    color: #ffffff;
}

.in-review {
    background-color: #8B5CF6;
    color: #ffffff;
}

.completed {
    background-color: #10B981;
    color: #ffffff;
}

.action i {
    color: #131523;
    font-weight: 300;
}

.action-btn {
    border: none;
    background-color: white;

}

.border-none {
    border: none;
}