<div class="container-fluid px-0 page">
    <div class="head-section">
        <div class="left">Tasks</div>
        <div class="right">
            <button type="button" class="btn-common border-btn me-3">Export</button>
            <button type="button" class="btn-common add-btn"><i class="fas fa-plus"></i> Add Task</button>
        </div>
    </div>
    <div class="table-container">
        <div class="table-wrapper">
            <div class="table-actions">
                <div class="left">
                    <ng-select class="form-control filter-dropdown me-3" placeholder="Filter"
                        [items]="ticketFilterOptions" bindValue="value" bindLabel="label" groupBy="group"></ng-select>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control search" placeholder="Search" aria-label="search"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="right">
                    <!-- <button type="button" class="btn-common border-btn me-2"><i
                            class="fa-regular fa-pen-to-square"></i></button> -->
                    <button type="button" class="btn-common border-btn me-2"><i
                            class="fa-regular fa-trash-can"></i></button>
                </div>
            </div>
            <table class="table list-table">
                <thead>
                    <tr>
                        <th scope="col"><input class="form-check-input" type="checkbox" value=""
                                (change)="selectAll($event)" id="flexCheckDefault"></th>
                        <th scope="col">Ticket ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Assignee</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of ticketList">
                        <td><input class="form-check-input" type="checkbox" [checked]="selectedIds.has(ticket.id)"
                                (change)="selectTicket($event, ticket.id)" id="checkbox-{{ticket.id}}"></td>
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.type}}</td>
                        <td><span class="badge"
                                [ngClass]="{'medium':ticket.priority=='Medium','low':ticket.priority=='Low','critical':ticket.priority=='Critical','high':ticket.priority=='High'}">{{ticket.priority}}</span>
                        </td>
                        <td>{{ticket.assignee}}</td>
                        <td>{{ticket.createdAt | date:'dd/mm/yy'}}</td>
                        <td>{{ticket.dueDate}}</td>
                        <td><span class="badge"
                                [ngClass]="{'open':ticket.status==='Open','in-progress':ticket.status==='In Progress','in-review':ticket.status==='In Review','completed':ticket.status==='Completed'}">{{ticket.status}}</span>
                        </td>
                        <td><span class="action"><button type="button" class="action-btn"><i
                                        class="fa-regular fa-pen-to-square me-1"></i></button><button type="button"
                                    class="action-btn"><i class="fa-regular fa-trash-can"></i></button></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>