<div class="container-fluid px-0 page">
    <div class="head-section">
        <div class="left">Tasks</div>
        <div class="right">
            <button type="button" class="border-btn me-3">Export</button>
            <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table list-table">
            <thead>
                <tr>
                    <th scope="col">adsad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">adafd</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>