<div class="container-fluid header-section">
    <!-- <img src="assets/img/Icon.png" alt="" width="20" height="20"> -->
     <div class="left">
        <button type="button" class="hamburger-btn" (click)="toggleSideBar()"><i class="fas fa-bars"></i></button>
     </div>
     <div class="right">
        <span class="user-icon">RM</span><span class="user-name me-3">Rahul Madhav</span><i class="fas fa-angle-down"></i>
     </div>
    <!-- <app-breadcrumbs [breadcrumbItems]="breadcrumbItems"></app-breadcrumbs>
    <button class="notif-btn ms-auto" type="button">
        <img src="assets/img/Bell.png" alt="" width="20" height="20">
    </button> -->
</div>