.page-center{
display: flex;
justify-content: center;
align-items: center;
background-color: #dee2e5;
height: 100vh;
}
.login-container{
    position: relative;
    border: none;
    background-color: #f6f8fa;
    border-radius: 16px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login-container p{
    color: #ADAFB0;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}
.login-container h3{
    font-weight: 700;
}
.icon-div{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 100%;
}
.input-wrapper{
    position: relative;
    width: 100%;
}
.input-wrapper i{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #5C5C5B;
}
.inp-field{
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 45px;
    font-size: 12px;
}
.inp-field::placeholder{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 10px;
    color: #ACACAC;
}
.login-btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #3CB77E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}