<div class="container-fluid page-center">
    <div class="login-container">
        <div class="icon-div shadow-sm">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <h3>Login</h3>
        <p>Enter your email address to receive an otp to securely access your account and manage your services</p>
        <div class="login-form">
            <div class="input-wrapper">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" class="form-control inp-field shadow-sm" placeholder="Email">
            </div>
            <div class="input-wrapper">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 5 }"></ng-otp-input>
            </div>
            <button class="login-btn">Submit</button>
        </div>
    </div>
</div>