.sidebar{
    width: 180px;
    height: 100vh;
    background-color: #f5f5f6;
    padding: 16px;
}
.logo-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px 5px 20px;
}
a.menu-item{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    transition: background-color 0.4s ease;
}
.menu-item.active{
    background-color: rgba(63, 81, 181, 0.08);
    border-radius: 16px;
    transform: translate(2px)
}

