.sidebar {
  position: fixed;
  top: 0;
  left: -180px;           
  width: 180px;
  height: 100vh;
  background-color: #1E2753;
  padding: 16px;

  transition: left 0.3s ease;
  z-index: 1000;

}

.sidebar.open{
  left: 0px;
}

/* @media (max-width:1024px) {
    .sidebar {
        position: fixed;
        left: -180px;
        transition: left 0.3s ease;
    }
} */

.logo-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px 5px 20px;
    color: white;
}

a.menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition: background-color 0.4s ease;
}

.menu-item.active {
    background-color: white;
    border-radius: 16px;
    color: #5A607F
}