/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Montserrat";
    font-weight: 500;
}

ng-otp-input .otp-input.otp-custom {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #c7b4a2;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-shadow: none;
}

ng-otp-input .otp-input.otp-custom:focus {
    outline: none;
    box-shadow: 0 0 4px 4px rgba(204, 203, 203, 0.4);
}

.otp-container-custom {
    display: flex;
    justify-content: center;
}