.task-card{
    color: white;
    border-radius: 24px;
    max-width: 280px;
    height: 100px;
    border: none;
    padding: 0px 10px;
}
.task-card-dark{
    background-color: #D9E4FF;
    color: #1E5EFF;
}
.task-card-light{
    background-color: #C4F8E2;
    color:#06A561 ;
}
.task-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-block, .bottom-block{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 14px;
    font-weight: 400;
}
/* .pill{
    border-radius: 6px;
    font-size: 14px;
    width: 40px;
    height: 28px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-card-light .pill{
    background: linear-gradient(to bottom,#4ba1ff, #5caaff) ;
}
.task-card-dark .pill{
    background: linear-gradient(180deg,#4d4d4d, #5a5a5a) 
} */
.count{
    font-size: 15px;
    font-weight: 500;
}
.percent{
    font-weight: 400;
    font-size: 13px;
}